In [1]:
import pandas as pd
import psycopg2

In [2]:
def create_database():
    
    conn = psycopg2.connect("host = localhost dbname = postgres user = postgres password = xxxx")
    conn.set_session(autocommit = True)
    cur = conn.cursor()
    
    cur.execute("DROP DATABASE IF EXISTS accounts")
    cur.execute("CREATE DATABASE accounts")

    conn.close()
    
    conn = psycopg2.connect("host = localhost dbname = accounts user = postgres password = xxxx")
    cur = conn.cursor()

    return cur, conn

In [3]:
def drop_tables(cur, conn):
    for query in drop_tables_queries:
        cur.execute(query)
        conn.commit()

In [4]:
def createdatabase(cur, conn):
    for query in create_table_queries:
        cur.execute(query)
        conn.commit()

In [5]:
cur, conn = create_database()

In [6]:
AccountsCountry = pd.read_csv("D:/Wealth-AccountsCountry.csv")

In [7]:
AccountsCountry.head(3)

,Code,Long Name,Income Group,Region,Lending category,Other groups,Currency Unit,Latest population census,Latest household survey,Special Notes,...,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,2-alpha code,WB-2 code,Table Name,Short Name
0,ALB,Republic of Albania,Upper middle income,Europe & Central Asia,IBRD,NaN,Albanian lek,2020 (expected),"Demographic and Health Survey, 2017/18",NaN,...,Living Standards Measurement Study Survey (LSM...,Yes,2012,2013.0,2018.0,2006.0,AL,AL,Albania,Albania
1,ARG,Argentine Republic,Upper middle income,Latin America & Caribbean,IBRD,NaN,Argentine peso,2020 (expected),"Multiple Indicator Cluster Survey, 2019/20",NaN,...,"Integrated household survey (IHS), 2016",Yes,2008,2002.0,2018.0,2011.0,AR,AR,Argentina,Argentina
2,ARM,Republic of Armenia,Upper middle income,Europe & Central Asia,IBRD,NaN,Armenian dram,2020 (expected),"Demographic and Health Survey, 2015/16",NaN,...,"Integrated household survey (IHS), 2016",Yes,2014,NaN,2018.0,2012.0,AM,AM,Armenia,Armenia

In [8]:
AccountsCountry_clean = AccountsCountry[['Code', 'Short Name', 'Table Name', 'Long Name', 'Currency Unit']]

In [9]:
AccountsCountry_clean.head(3)

  Code Short Name Table Name            Long Name   Currency Unit
0  ALB    Albania    Albania  Republic of Albania    Albanian lek
1  ARG  Argentina  Argentina   Argentine Republic  Argentine peso
2  ARM    Armenia    Armenia  Republic of Armenia   Armenian dram

In [10]:
AccountsData = pd.read_csv("D:/Wealth-AccountData.csv")

In [11]:
AccountsData_clean = AccountsData[['Country Name', 'Country Code', 'Series Name', 'Series Code', '1995 [YR1995]', '2000 [YR2000]', '2005 [YR2005]', '2010 [YR2010]', '2014 [YR2014]']]

In [12]:
AccountsData_clean.head(3)

,Country Name,Country Code,Series Name,Series Code,1995 [YR1995],2000 [YR2000],2005 [YR2005],2010 [YR2010],2014 [YR2014]
0,Albania,ALB,Human capital (constant 2018 US$),NW.HCA.TO,4.490000e+10,4.360000e+10,5.440000e+10,6.810000e+10,7.250000e+10
1,Albania,ALB,Human capital per capita (constant 2018 US$),NW.HCA.PC,1.407300e+04,1.411800e+04,1.807200e+04,2.336300e+04,2.509000e+04
2,Albania,ALB,"Human capital per capita, employed female (con...",NW.HCA.FEMP.PC,3.469000e+03,3.424000e+03,2.222000e+03,2.889000e+03,2.957000e+03

In [13]:
AccountsSeries = pd.read_csv("D:/Wealth-AccountSeries.csv")

In [14]:
AccountsSeries.head(3)

,Code,Indicator Name,Long definition,Source,Topic,Unit of measure,Periodicity,Reference period,Statistical concept and methodology,Previous Indicator Code,Previous Indicator Name
0,NW.HCA.TO,Human capital (constant 2018 US$),Human capital is computed as the present value...,World Bank. 2021. The Changing Wealth of Natio...,Human capital,Constant 2018 US$,Annual,1995-2018,Total wealth is calculated by summing up estim...,NaN,NaN
1,NW.HCA.PC,Human capital per capita (constant 2018 US$),Human capital is computed as the present value...,World Bank. 2021. The Changing Wealth of Natio...,Human capital,Constant 2018 US$,Annual,1995-2018,Total wealth is calculated by summing up estim...,NaN,NaN
2,NW.HCA.FEMP.PC,"Human capital per capita, employed female (con...",Human capital is computed as the present value...,World Bank. 2021. The Changing Wealth of Natio...,Human capital,Constant 2018 US$,Annual,1995-2018,Total wealth is calculated by summing up estim...,NaN,NaN

In [15]:
AccountsSeries_clean = AccountsSeries[['Code', 'Topic', 'Indicator Name', 'Long definition']]

In [16]:
AccountsSeries_clean.head(3)

,Code,Topic,Indicator Name,Long definition
0,NW.HCA.TO,Human capital,Human capital (constant 2018 US$),Human capital is computed as the present value...
1,NW.HCA.PC,Human capital,Human capital per capita (constant 2018 US$),Human capital is computed as the present value...
2,NW.HCA.FEMP.PC,Human capital,"Human capital per capita, employed female (con...",Human capital is computed as the present value...

In [17]:
accounts_country_table_create = ("""CREATE TABLE IF NOT EXISTS accounts_country(
Code VARCHAR,
Short_Name VARCHAR,
Table_Name VARCHAR,
Long_Name VARCHAR,
Currency_Unit VARCHAR
)""")

In [18]:
cur.execute(accounts_country_table_create)
conn.commit()

In [19]:
accounts_data_table_create = ("""CREATE TABLE IF NOT EXISTS accounts_data(
Country_Name VARCHAR,
Country_Code VARCHAR,
Series_Name VARCHAR,
Series_Code VARCHAR,
Year_1995 NUMERIC,
Year_2000 NUMERIC,
Year_2005 NUMERIC,
Year_2010 NUMERIC,
Year_2014 NUMERIC
)""")

In [20]:
cur.execute(accounts_data_table_create)
conn.commit()

In [21]:
accounts_series_table_create = ("""CREATE TABLE IF NOT EXISTS accounts_series(
Code VARCHAR,
Topic VARCHAR,
Indicator_Name VARCHAR,
Long_definition VARCHAR
)""")

In [22]:
cur.execute(accounts_series_table_create)
conn.commit()

In [23]:
accounts_country_table_insert = ("""INSERT INTO accounts_country
(
Code,
Short_Name,
Table_Name,
Long_Name,
Currency_Unit
)
VALUES(%s, %s, %s, %s, %s)
""")

In [24]:
for i, row in AccountsCountry_clean.iterrows():
    cur.execute(accounts_country_table_insert, list(row))

In [25]:
conn.commit()

In [26]:
accounts_data_table_insert = ("""INSERT INTO accounts_data
(
Country_Name,
Country_Code,
Series_Name,
Series_Code,
Year_1995,
Year_2000,
Year_2005,
Year_2010,
Year_2014
)
VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s)
""")

In [27]:
for i, row in AccountsData_clean.iterrows():
    cur.execute(accounts_data_table_insert, list(row))

In [28]:
conn.commit()

In [29]:
accounts_series_table_insert = ("""INSERT INTO accounts_series
(
Code,
Topic,
Indicator_Name,
Long_definition
)
VALUES(%s, %s, %s, %s)
""")

In [30]:
for i, row in AccountsSeries_clean.iterrows():
    cur.execute(accounts_series_table_insert, list(row))

In [31]:
conn.commit()

In [32]:
cur.close()

In [33]:
conn.close()